{% extends 'layout.html' %}

{% block body %}

<h1>Video Uploaded Successfully</h1>

<div id='source'>
<video width='640' height='480' autoplay>
				<source src="{{ url_for('static', filename='uploads/' ~ request.args.get('filename')) }}" type='video/mp4'>
				Your browser does not support the Video. 
</video>
<p id='caption'>Video File Uploaded</p>
</div>

<div id='detect' style='margin:auto;'>
<video width='640' height='480' autoplay>
				<source src="{{ url_for('static', filename='uploads/' ~ '[Detection]' ~ request.args.get('filename')) }}" type='video/mp4'>
				Your browser does not support the Video.
</video>
<p id='caption'>Face Detection Video</p>
</div>

{% endblock %}
